<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzq.ms.dao.ArticleDao">


    <select id="getAll" resultType="Article" >
		SELECT  
		a.a_id as aid,
		a.c_id as cid,
		a.u_id as uid,
		a.a_title as atitle,
		<!-- a.a_content as acontent, -->
		a.a_time as atime,
		u.u_name as uname,
		c.c_name as cname
		FROM article a,user u,category c
		WHERE a.c_id=c.c_id
		AND a.u_id = u.u_id
	</select>
	
	<select id="getByAid" resultType="Article" parameterType="int" >
		SELECT  
		a.a_id as aid,
		a.c_id as cid,
		a.u_id as uid,
		a.a_title as atitle,
		a.a_content as acontent,
		a.a_time as atime,
		u.u_name as uname,
		c.c_name as cname
		FROM article a,user u,category c
		WHERE a.c_id=c.c_id
		AND a.u_id = u.u_id
		AND a.a_id = #{aid}
	</select>
	
	
	<select id="getByCid" resultType="Article" parameterType="int" >
		SELECT  
		a.a_id as aid,
		a.c_id as cid,
		a.u_id as uid,
		a.a_title as atitle,
		a.a_content as acontent,
		a.a_time as atime,
		u.u_name as uname,
		c.c_name as cname
		FROM article a,user u,category c
		WHERE a.c_id=c.c_id
		AND a.u_id = u.u_id
		AND a.c_id = #{cid}
	</select>
	
	<select id="getByUid" resultType="Article" parameterType="int" >
		SELECT  
		a.a_id as aid,
		a.c_id as cid,
		a.u_id as uid,
		a.a_title as atitle,
		a.a_content as acontent,
		a.a_time as atime,
		u.u_name as uname,
		c.c_name as cname
		FROM article a,user u,category c
		WHERE a.c_id=c.c_id
		AND a.u_id = u.u_id
		AND a.u_id = #{uid}
	</select>
	
	<insert id="addArticle" parameterType="Article" flushCache="true" >
		INSERT
		INTO article (a_id,c_id,u_id,a_title,a_content,a_time)
		VALUES(#{aid},#{cid},#{uid},#{atitle},#{acontent},#{atime})
	</insert>
	
	<update id="chgName" parameterType="Article">
		UPDATE Article 
		SET c_name=#{cname} 
		WHERE c_id=#{cid}
	</update>
	
	
	<delete id="deleteArticle" parameterType="int">
		DELETE FROM Article 
		WHERE c_id=#{cid}
	</delete>
</mapper>