<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzq.ms.dao.ArticleDao">

	

	<select id="getByAid" resultType="Article" parameterType="int" >
		SELECT  
		a_id as aid,
		c_id as cid,
		u_id as uid,
		a_title as atitle,
		a_content as acontent,
		a_time as atime
		FROM article
		WHERE a_id = #{aid}
	</select>
	
	
	<select id="getByCid" resultType="Article" parameterType="int" >
		SELECT  
		a_id as aid,
		c_id as cid,
		u_id as uid,
		a_title as atitle,
		a_content as acontent,
		a_time as atime
		FROM article
		WHERE c_id = #{cid}
	</select>
	
	<select id="getByUid" resultType="Article" parameterType="int" >
		SELECT  
		a_id as aid,
		c_id as cid,
		u_id as uid,
		a_title as atitle,
		a_content as acontent,
		a_time as atime
		FROM article
		WHERE u_id = #{uid}
	</select>
	
	<insert id="addArticle" parameterType="Article" flushCache="true" >
		INSERT
		INTO Article (u_id,c_name,c_time)
		VALUES(#{uid},#{cname},#{ctime})
	</insert>
	
	<update id="chgName" parameterType="Article">
		UPDATE Article 
		SET c_name=#{cname} 
		WHERE c_id=#{cid}
	</update>
	
	
	<delete id="deleteArticle" parameterType="int">
		DELETE FROM Article 
		WHERE c_id=#{cid}
	</delete>
</mapper>